<!DOCTYPE html>
<html>
<head>
<style>

#LoginApp {
  text-align:center; 
}	
#LoginApp .form-group { 
  margin-bottom: 1em; 
}
#LoginApp legend { 
  margin-bottom: 1em; 
  font-weight: bold; 
}
body { 
  background-color: black;
  color: black; 
  font-family: "Arial", "Helvetica", "Comic Sans MS", "Comic Sans"; 
  text-align: center; 
}
#AppContainer { 
  padding: 1em;
  display: block; 
  margin-top: 10vh; 
  margin-left: 1em; 
  margin-right: 1em; 
  margin-bottom: 5vh;
  max-width: 90vw;
  background-color: white;
  border: 5px solid black;
  border-radius: 3em;
  display: inline-block; 
}

#activation{
  display: hidden;
}


</style>
</head>
<body>
	<h1> Account Activation </h1> 			 
	<div id ="AppContainer"> 
		<div id = "LoginApp">
      <h1> The activation link expired or It was inncorrect. Try signing up again. </h1> 			       
		</div>
	</div>		 	
</body>
</html>