<main>
	<div id = 'content'>
	<h2> Blog </h2>
		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas veritatis laboriosam officiis voluptatem necessitatibus obcaecati quia dicta. Vel laborum earum architecto consectetur, dolore modi. Numquam quia culpa nobis omnis earum.
		</p>
	</div>
</main>