<main>
	<div id = 'content'>
	<h2> Events </h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, sit! Minima nemo rerum quidem vel fugiat, quia sapiente repudiandae illum ratione quaerat architecto accusamus pariatur harum illo molestiae, ab doloremque.
		</p>
	</div>
</main>