



#About {
    display: block;
    text-align: center;
    float: left;

}


#Document {
    display: inline-block;
    line-height: 1.4;
    text-align: left;
    max-width: 60em;
    text-align: left;

    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 1em;
    padding-bottom: 0.3em;
}


#gooseimg {
    height: auto;
    width: 20em;
    float: right;
}