#content {		
    display: block;
    line-height: 1.4;
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


		
main {
    background: rgb( 195, 195, 195);
    border: 2px solid black;
    min-height: 70vh;
    margin-bottom: 2em;
    text-align: left;
   
}


.Project {
    background: rgb( 255, 255, 255);
    display: block;
    padding: 1em;
    margin-bottom: 2em;
    text-decoration: none;
    color: black;
}

.Project:hover {
    background: rgb(224, 168, 255);
    color: black;
    box-shadow: 10px 10px 5px rgb( 11,11,11 );
}

